.paganation{
    padding: 2rem 2rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.btn-page-icon{
    height: 2.4rem;
    stroke: green;
    width: 2.4rem;   
}
.btn-page:hover{
    background-color: green;
}
.btn-page:hover .btn-page-icon{
    stroke: wheat;
}


.btn-page{
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    border: .1rem solid green;
    background: none;
    cursor: pointer;
}
.page-link:link,
.page-link:visited{
    font-size: 1.8rem;
    color: #797979;
    text-decoration: none;
    height: 3.6rem;
    width:  3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
}

.page-link:hover,
.page-link:active{
    background-color: green;
    color: aliceblue;
}